#p1
{
    text-align: left;
}
#headT1
{
    color: white;
    text-align: left;
}
#headT2
{
    color: white;
    text-align: center;
}
#listT2
{
    text-align: center;
    list-style-position: inside;
    list-style-type:none
}
#listT1
{
    text-align: left;
}
html.hangman, body.hangman
{
    height: 120%;
}
html.psychic, body.psychic
{
    height: 120%;
}
html.gem, body.gem
{
    height: 125%;
}

@media only screen and (max-width: 1200px)
{
    html.hangman, body.hangman
    {
        height: 130%;
    }
    html.psychic, body.psychic
    {
        height: 132%;
    }
    html.gem, body.gem
    {
        height: 133%;
    }
    html.liri, body.liri
    {
        height: 140%;
    }
}

@media only screen and (max-width: 760px)
{
    html.hangman, body.hangman
    {
        height: 130%;
    }
    html.psychic, body.psychic
    {
        height: 135%;
    }
    html.gem, body.gem
    {
        height: 140%;
    }
    html.liri, body.liri
    {
        height: 150%;
    }
}
@media only screen and (max-width: 490px)
{
    html.hangman, body.hangman
    {
        height: 150%;
    }
    html.psychic, body.psychic
    {
        height: 145%;
    }
    html.gem, body.gem
    {
        height: 147%;
    }
    html.liri, body.liri
    {
        height: 160%;
    }
}
