html,body
{
	 /* background-image: url("images/low-poly00.jpg");  */
	background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) ), url("images/low-poly00.jpg"), url("images/low-poly01.jpg") ;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat, repeat;
	height: 130%;
	 /* opacity:70;  */
}

.card-img-top {
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	transition: .5s ease;
	backface-visibility: hidden;
  }
  
  .middle {
	transition: .7s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -90%);
	-ms-transform: translate(-90%, -90%);
	text-align: center;
  }

  #list4
  {
	padding: 0px 30px 0 0px;
  }

  #buttonT1
  {
		/* display: none; */
		font-size: 15px;
		color: white;
		border: none;
		outline: none;
		background-color: blue;
		cursor: pointer;
		padding: 10px;
		border-radius: 2px;
  }
  #buttonT1:hover {
	background-color: #555;
  }
  .nav-linkT1
  {
	  color: white;
  }
  
  .col-md-4:hover .card-img-top {
	opacity: 0.3;
  }
  
  .col-md-4:hover .middle {
	opacity: 1;
  }
  
  .text {
	background-color: #4CAF50;
	color: white;
	font-size: 16px;
	padding: 16px 32px;
  }
#comment
{
	width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
#buttonTest1
{
	color: white;
}
#btnContainer
{
	display: inline-flex;
}
html.about, body.about{
	height: 150%;
}
html.portfolio, body.portfolio
{
	height: 195%
}

html.resume, body.resume {
	height: 180%;
}
#head6
{
	color: white;
}
#head9
{
	color:rgb(165, 165, 165);
	text-align: left;
}
#button2
{
	/* display: none; */
	font-size: 18px;
	border: none;
	outline: none;
	background-color: blue;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 4px;
}
#button2:hover {
	background-color: #555;
  }
  
.cd-words-wrapper {
	display: inline-block;
	position: relative;
	text-align: left;
	color: white;
  }
#span2{
	color: #1e75f6;
}
  .cd-words-wrapper b {
	display: inline-block;
	position: absolute;
	white-space: nowrap;
	left: 0;
	top: 0;
  }
  .cd-words-wrapper b.is-visible {
	position: relative;
  }
  
  .cd-headline.clip span {
	display: inline-block;
	padding: .2em 0;
  }
  .cd-headline.clip .cd-words-wrapper {
	overflow: hidden;
	vertical-align: top;
  }
  .cd-headline.clip .cd-words-wrapper::after {
	/* line */
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 2px;
	height: 100%;
	background-color: #aebcb9;
  }
  .cd-headline.clip b {
	opacity: 0;
  }
  .cd-headline.clip b.is-visible {
	opacity: 1;
  }
  

.social
{
	list-style-type: none;
	margin: 0;
	margin-left: 150px;
    padding: 0;
    overflow: hidden;
    /* background-color: #333333; */
}
#nav1
{
	background-color: black;
}
#list1
{
	float:left;
	padding-left: 0px;
	padding-top: 0px;
}
#list2
{
	float:left;
	padding-top: 0px;
	
}
li a {
	display: block;
    color: white;
	text-align: center;
	padding-left: 0px;
    padding: 10px;
	text-decoration: none;
	background-color: black;
}
#head2
{
	font-weight: 700;
	color: #1e75f6;
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	text-transform: uppercase;
}
#head3
{
	color: #1e75f6;
}
.footer
{
	position: fixed;
	left: 0;
   	bottom: 0;
	width: 100%;
	height: 5%;
    background-color: rgb(44, 47, 63);
	text-align: center;

}
#span1
{
	color: white;
}
#p1
{
	color: white;
}
#link1
{
	color: white;
}
#link2
{
	color: white;
}
#link3
{
	color: white;
}
#link4
{
	color: white;
}
#link5
{
	color: white;
}
li
{
	padding: 2px 0 0 30px;
}
#area1
{
	padding: 15px 15px 15px 15px;
}
#area6
{
	color: #1e75f6;
}
.nowrap 
{
	white-space: nowrap;
}
#area2
{
	text-align: center;
}
#area3
{
	background-color:rgba(7, 7, 7, 0.9);
    -moz-transition:background-color 1.5s ease;
    -webkit-transition:background-color 1.5s ease;
	transition:background-color 1.5s ease;
	color: rgb(182, 179, 179);
	font-weight: 700;
}
#area4
{
	background-color:rgba(0, 0, 0, 0.781);
    -moz-transition:background-color 1.5s ease;
    -webkit-transition:background-color 1.5s ease;
	transition:background-color 1.5s ease;
	color: rgb(182, 179, 179);
	font-weight: 400;
	padding-bottom: 15px;
}
#list5
{
	background-color: #1e75f6;
}
#area5
{
	background-color:rgba(0, 0, 0, 0.781);
    -moz-transition:background-color 2.0s ease;
    -webkit-transition:background-color 2.0s ease;
	transition:background-color 2.0s ease;
	color: rgb(182, 179, 179);
	font-weight: 400;
	text-align: center;
}
#head4
{
	color: #1e75f6;
	font-weight: 700;
}
#head5
{
	color:white;
}
#head7
{
	color: #999999;
}
#list1
{
	background-color: rgb(10, 10, 175);
	font-weight: 700;
	color: white;
}
#list2
{
	background-color:rgba(56, 56, 56, 0.932);
    -moz-transition:background-color 1.5s ease;
    -webkit-transition:background-color 1.5s ease;
	transition:background-color 1.5s ease;
	color: rgb(182, 179, 179);
	font-weight: 400;

}
#list3
{
	background-color:rgba(15, 15, 15, 0.932);
    -moz-transition:background-color 1.5s ease;
    -webkit-transition:background-color 1.5s ease;
	transition:background-color 1.5s ease;
	color: rgb(182, 179, 179);
	font-weight: 400;
}
label
{
	float: left;
}
#iframe1
	{
		width: 400px;
	}
	.LI-profile-badge
	{
		margin-left: 75px;
	}
	html.index, body.index
	{
		height: 125%;
	}
	html.about, body.about
	{
		height: 150%;
	}
	html.portfolio, body.portfolio
	{
		height: 187%;
	}
	html.resume, body.resume
	{
		height: 167%;
	}
	@media screen and (max-width: 1300px)
	{
		html.index, body.index
		{
			height: 132%;
		}
		html.about, body.about
		{
			height: 160%;
		}
		html.portfolio, body.portfolio
		{
			height: 205%;
		}
		html.resume, body.resume
		{
			height: 180%;
		}
	}	
@media screen and (max-width: 1200px)
{
	html.index, body.index
	{
		height: 130%;
	}
	html.about, body.about
	{
		height: 160%;
	}
	html.portfolio, body.portfolio
	{
		height: 200%;
	}
	html.resume, body.resume
	{
		height: 180%;
	}
}
@media screen and (max-width: 1000px)
{
	html.portfolio, body.portfolio
	{
		height: 195%;
	}
}
@media screen and (max-width: 900px)
{
	html.contact, html.contact{
		height: 180%;
	}
	html.index, body.index
	{
		height: 150%;
	}
	html.about, body.about
	{
		height: 175%;
	}
	html.portfolio, body.portfolio
	{
		height: 185%;
	}

}

@media screen and (max-width: 770px)
{
	html,body
	{
		/* background-image: url("images/low-poly00.jpg");  */
		background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) ), url("images/low-poly00.jpg"), url("images/low-poly01.jpg") ;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat, repeat;
		height: 150%;
		/* opacity:70;  */
	}
	html.about, body.about
	{
		height: 172%;
	}
	#iframe1
	{
		width: 300px;
	}
	.LI-profile-badge
	{
		margin-left: 20px;
	}

}
@media only screen and (max-width: 760px)
{
	html.resume
	{
		/* background-image: url("images/low-poly00.jpg");  */
		background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) ), url("images/low-poly00.jpg"), url("images/low-poly01.jpg") ;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat, repeat;
		height: 90%;
		/* opacity:70;  */
	}
	html.index,body.index
	{
		/* background-image: url("images/low-poly00.jpg");  */
		background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) ), url("images/low-poly01.jpg") ;
		background-size: cover;
		background-position: bottom;
		background-repeat: no-repeat, repeat;
		height: 200%;

		/* opacity:70;  */
	}
	html.contact,body.contact
	{
		background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) ), url("images/low-poly03.jpg") ;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat, repeat;
		height: 150%;
	}
	html.about,body.about
	{
		background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) ), url("images/low-poly01.jpg") ;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat, repeat;
		height: 220%;
	}
	html.portfolio,body.portfolio
	{
		height: 340%;
	}
	#area3{
		color: black;
	}
	html,body
	{
		background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) ), url("images/low-poly00.jpg"), url("images/low-poly01.jpg") ;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat, repeat;
		height: 200%;
	}
	#iframe1
	{
		width: 450px;
	}
	.LI-profile-badge
	{
		margin-left: 90px;
	}

}
 @media only screen and (max-width: 700px)
{
	html.index,body.index
	{
		height: 200%;
	}
	html.about,body.about
	{
		height: 225%;
	}
	html.portfolio,body.portfolio
	{
		height: 348%;
	}
	html.resume, body.resume
	{
		height: 195%;
	}
} 
@media only screen and (max-width: 490px)
{
	html.portfolio,body.portfolio
	{
		background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) ), url("images/low-poly00.jpg"), url("images/low-poly01.jpg") ;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat, repeat;
		/* height: 500%; */
	}
	html.index, body.index
	{
		height: 195%;
	}
	html.resume, body.resume
	{
		height: 197%;
	}
	#area6
	{
		font-size: 20px;
	}
	#head7
	{
		font-size: 15px;
	}
	#iframe1
	{
		width: 370px;
	}
	.LI-profile-badge
	{
		margin-left: 90px;
	}
	html.portfolio,body.portfolio
	{
		height: 335%;
	}
	.social
	{
		margin-left: 0px;
	}
	#listText
	{
		color: #1e75f6;
	}
	.LI-profile-badge
	{
		margin-left: 65px;
	}
	#head7
	{
		font-size: 16px;
	}
	/* html.contact, body.contact
	{
		height: 155%;
	} */
}
@media only screen and (max-width: 400px)
{
	html.portfolio,body.portfolio
	{
		height: 325%;
	}
	#head7
	{
		font-size: 14px;
	}
	html.resume, body.resume
	{
		height: 205%;
	}
}